table.xyz-item > tr.xyz-item-selected.xyz-item-header {
  background-color: yellow;
  color: black;
}

span.xyz-item-deselect {
  float: right;
  cursor: pointer;
  margin-right: 5px;
}

span.xyz-item-deselect::before {
  content: "\2715";
}

td.xyz-item-key {
  vertical-align: top;
}
