.xyz-map-wrapper {
}

.ol-zoom-in,
.ol-zoom-out,
.ol-zoom-fit {
  height: 2em;
  width: 2em;
  margin: 2px;
  float: left;
  background-color: darkslateblue;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
}

.ol-rotate-reset,
.ol-attribution {
  display: none;
}

.xyz-map {
  position: relative;
}

.xyz-map-message {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 3px;
  text-shadow: 1px 1px black;
  color: white;
}
