.xyz-map-wrapper {
  border-color: black;

  /* b ackground-color: lightgreen; */
}

.ol-zoom-in,
.ol-zoom-out {
  float: right;
  background-color: darkslateblue;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
}

.ol-rotate-reset,
.ol-attribution {
  display: none;
}
