html,
body {
  padding: 0;
  margin: 0;
  font-family: Palanquin, sans-serif;
}

input[type='submit'] {
  background-color: rgb(76, 175, 80);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type='submit'].xyz-delete {
  /* background-color: red; */
}

input[type='submit'].xyz-edit {
  /* background-color: orange; */
}

input[type='submit']:hover {
  background-color: rgb(106, 205, 110);
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
  background: rgb(150, 150, 150);
}


/* ====================================================================================================
STATUS
==================================================================================================== */

.xyz-waiting {
  color: grey;
}

.xyz-status-400,
.xyz-status-403,
.xyz-status-404,
.xyz-status-500 {
  color: red;
}

.xyz-invalid-content {
  color: red;
}

/* ====================================================================================================
PAGE
==================================================================================================== */

.xyz-page-header {
  padding: 35px;
  width: 100vw;
  height: 30px;
  background-color: white;
  color: black;
  border-bottom: 1px solid rgb(230, 230, 230);
  font-weight: bold;
}

.xyz-page-navigation {
  padding-top: 20px;
  min-height: calc(100vh - 100px);
  height: calc(100% - 100px);
  width: 200px;
  background: linear-gradient(-45deg, rgba(2, 0, 36, 0.5) 0%, rgba(232, 232, 255, 0.9) 100%);
  display: block;
  float: left;
  position: relative;
}

.xyz-page-navigation-background {
  background-image: url('./background.jpg');
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
  top: 0;
}

.xyz-page-navigation ul,
.xyz-page-content ul {
  list-style-type: none;
}

body > .xyz-page-navigation li:not(.xyz-page-navigation-depth-0) {
  list-style-image: none;
  margin-bottom: 25px;
  color: black;
}

.xyz-page-navigation a {
  text-decoration: none;
  color: inherit;
}

a.xyz-page-navigation-current {
  color: white;
}

li.xyz-page-navigation-depth-0 {
  margin-bottom: 25px;
  margin-top: 40px;
  font-weight: bold;
  color: black;
}

.xyz-page-content {
  padding: 50px;
  width: calc(100vw - 300px);
  height: calc(100vh - 200px);
  display: inline-block;
  float: left;
}

/* ====================================================================================================
DOC
==================================================================================================== */

@font-face {
  font-display: swap;
  font-family: 'Palanquin';
  src: url("../fonts/Palanquin-Regular.eot");
  src:
    url("./fonts/Palanquin-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Palanquin-Regular.woff2") format("woff2"),
    url("./fonts/Palanquin-Regular.woff") format("woff"),
    url("./fonts/Palanquin-Regular.ttf") format("truetype"),
    url("./fonts/Palanquin-Regular.svg#Palanquin-Regular");
}

.xyz-logo {
  font-weight: bold;
  float: left;
  background-image: url('./logo.png');
  background-size: 40px 40px;
  height: 40px;
  padding-top: 5px;
  background-position: left middle;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.xyz-doc-wrapper {
  background-color: darkgrey;
  padding: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;
  margin-left: 2cm;
  margin-right: 2cm;
}

.xyz-doc-wrapper > *:first-child {
  background-color: white;
  padding: 0.5cm;
  display: block;
}

.xyz-doc-tryIt {
  float: right;
  background-color: green;
  padding: 3px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}

.xyz-doc-tryIt:hover {
  background-color: lightgreen;
}
.xyz-doc-tryIt::before { content: "Try it!"; }

li:nth-child(5n+0) {
  list-style-image: url('./purple-bullet.png');
}

li:nth-child(5n+1) {
  list-style-image: url('./green-bullet.png');
}

li:nth-child(5n+2) {
  list-style-image: url('./red-bullet.png');
}

li:nth-child(5n+3) {
  list-style-image: url('./yellow-bullet.png');
}

li:nth-child(5n+4) {
  list-style-image: url('./orange-bullet.png');
}
