.xyz-login a {
    color: blue;
    cursor: pointer;
    margin: 5px;
}

.xyz-login a:hover {
    text-decoration: underline;
}

.xyz-login-message {
    background-color: khaki;
    color: black;
    border-radius: 5px;
    text-align: center;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes xyz-login-hide {
    from {
        visibility: visible;
        opacity:1.0;
    }
    to {
        visibility: hidden;
        opacity:0.0;
    }
}
