html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

input[type='submit'] {
    background-color: rgb(76, 175, 80);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: rgb(106, 205, 110)
}

input[type="submit"]:disabled, input[type="submit"]:disabled:hover {
    background: rgb(150, 150, 150)
}

/* ====================================================================================================
DISPLAYS
==================================================================================================== */
table.xyz-create, table.xyz-item, table.xyz-list {
    /*border: 1px solid lightgrey;
    margin-bottom: 5px;*/
    padding: 0;
    border-collapse: collapse;
}

table.xyz-create tr:nth-child(even), table.xyz-item tr:nth-child(even), table.xyz-list tr:nth-child(even) {
    background: rgba(155, 155, 155, 0.2);
}

.xyz-create-header, .xyz-list-header, .xyz-item-header {
    background-color: darkslateblue;
    color: white;
}

.xyz-list, .xyz-item {
    width: 100%;
}

.xyz-list-item {
    cursor: pointer;
}

table.xyz-list tr.xyz-list-item:hover {
    background-color: lightblue;
}

table.xyz-list tr.xyz-list-selected {
    background-color: yellow;
}

div.xyz-timeline-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

div.xyz-timeline-node {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: green;
}

div.xyz-timeline-connector {
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: green;
}

div.xyz-timeline-label {
    position: absolute;
    padding:10px;
    color:white;
    border-radius: 10px;
    background-color: green;
}

div.xyz-timeline-line {
    transform: translate(-50%,-50%);
    position: absolute;
    top:50%;
    left:50%;
    height: 100%;
    width:2px;
    background-color: black;
}
/* ====================================================================================================
STATUS
==================================================================================================== */

.xyz-waiting {
    color: grey;
}

.xyz-status-400, .xyz-status-403, .xyz-status-404, .xyz-status-500 {
    color: red;
}

.xyz-invalid-content {
    color: red;
}

/* ====================================================================================================
PAGE
==================================================================================================== */

.xyz-page-header {
    padding: 35px;
    width: 100vw;
    height: 30px;
    background-color: white;
    color: black;
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: xx-large;
}

.xyz-page-navigation {
    padding-top: 20px;
    height: calc(100vh - 100px);
    width: 200px;
    background-color: rgb(247, 247, 247);
    display: inline-block;
    float: left;
}

.xyz-page-navigation ul, .xyz-page-content ul {
    list-style-type: none;
}

.xyz-page-navigation li {
    margin-bottom: 25px;
    color: rgb(100, 100, 100);
}

.xyz-page-navigation a {
    text-decoration: none;
    color: inherit;
}

a.xyz-page-navigation-current {
    color: darkgoldenrod;
}

li.xyz-page-navigation-depth-0 {
    margin-top: 40px;
    font-weight: bold;
    color: black;
}

.xyz-page-content {
    padding: 50px;
    width: calc(100vw - 300px);
    height: calc(100vh - 200px);
    display: inline-block;
    float: left;
}

/* ====================================================================================================
FILE
==================================================================================================== */

.xyz-file-container {
    background-color: darkgray;
    padding: 10px;
}

.xyz-file-flat {
    font-family: monospace;
    white-space: pre-wrap;
    /*box-shadow: 2px 2px 2px;*/
    background-color: white;
    padding: 10px;
}

/* ====================================================================================================
LOGIN
==================================================================================================== */

.xyz-login a {
    color: blue;
    cursor: pointer;
    margin: 5px;
}

.xyz-login a:hover {
    text-decoration: underline;
}
