.xyz-list-header, .xyz-item-header {
    background-color: blue;
    color: white;
}

.xyz-list-item {
    cursor: pointer;
}

.xyz-list-item:hover {
    background-color: lightblue;
}

.xyz-list-selected {
    background-color: yellow;
}

.xyz-waiting {
    color: grey;
}

.xyz-status-400, .xyz-status-403, .xyz-status-404, .xyz-status-500 {
    color: red;
}